#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
}

#player {
  border: 1px solid black;
  height: 4em;
}
h1 {
  font-family: 'Space Mono', monospace;
  font-size: 3.5em;
}
